<app-layout [withBackLink]="true" link="/posts" title="Retour à la liste des articles">
  <div>
    <h1>Créer un article</h1>
    <form [formGroup]="postForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Theme</mat-label>
        <mat-select formControlName="topics">
          <mat-option *ngFor="let topic of topics" [value]="topic.id">{{topic.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="post-description">
        <mat-label>Contenu de l'article</mat-label>
        <textarea matNativeControl formControlName="description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="submit-btn"
        [disabled]="postForm.invalid">Créer</button>
    </form>
    <p *ngIf="onError" class="error">Une erreur est survenue</p>
  </div>
</app-layout>